body{
  margin: 0px;
  background-color: rgb(158, 158, 158)
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, [col] 25% ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: rgb(158, 158, 158);
    width: 100%;
  }

  .box {
    border-radius: 5px;
    padding: 20px;
    border-collapse: collapse;
  }


  header {
    grid-column: col 1 / span 5 ;
    grid-row: row ;
    font-family: impact;
    background-color: rgb(40, 57, 105);
    color: white;
  }


  nav {
    grid-column: col 1 / span 5 ;
    grid-row: row 2 ;
    background-color: rgb(90, 40, 105);
  }

  /*navigation list style*/
  nav a:link{
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  nav ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333333;
  }

  nav li {
   float: left;
  }



  section {
    grid-column: col 1 / span 2 ;
    grid-row: row 3 ;
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(126, 62, 112);
    color: white;
  }

/*change colors*/
  article{
    grid-column: col 1 / span 2;
    grid-row: row 4 ;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: rgb(129, 239, 247);
  }

  aside{
    grid-column: col 3 / span 2;
    grid-row: row 3 / span 3;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: rgb(105, 221, 120);
  }


  footer {
    grid-column: col / span 4;
    grid-row: row 5;
    width: 100%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: rgb(36, 33, 85);
    color: white;
  }



   /* unvisited link */
a:link {
  color: rgb(253, 239, 160);
}

/* visited link */
a:visited {
  color: rgb(71, 214, 219);
}

/* mouse over link */
 a:hover {
  color: hotpink;
  background-color: rgb(51, 94, 58);
}

/* selected link */
a:active {
  color: blue;
} 