body {
  background-color: rgb(43, 46, 46);
}

h1 {
  color: white;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
}
h3 {
  color: white;
  text-align: center;
}

p{
  color: white;
}